{plugins, [rebar3_ex_doc, rebar3_hex, erlfmt]}.

{ex_doc, [
    {source_url, <<"https://github.com/esl/ct_groups_summary_hook">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.

{erlfmt, [
    {files, [
        "{src,test}/*.{erl,app.src}",
        "ct_app/{src,test}/*.{erl,app.src}",
        "rebar.config",
        "priv/summarise-ct-results"
    ]}
]}.
